torch >= 1.9, <= 1.11
numpy
tqdm
requests
optax @ git+https://github.com/deepmind/optax.git@00c3256466196d0f6c523a8854323b08ef534600#egg=optax
dm-haiku == 0.0.5
ray[default]
jax == 0.2.12
jaxlib == 0.1.68
transformers >= 4.17
progressbar2
mesh_transformer @ git+https://github.com/VE-FORBRYDERNE/mesh-transformer-jax#egg=mesh_transformer
ftfy
termcolor
